/* Hero Section */
.hero {
    position: relative;
    background-image: url('starlight.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Overlay */
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(59, 29, 29, 0.616); /* Adjust the opacity as needed */
    z-index: 1;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }