/* Hero Section */
.hero {
    position: relative;
    background-image: url('starlight.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Overlay */
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(59, 29, 29, 0.616); /* Adjust the opacity as needed */
    z-index: 1;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }

  /* Basic Button Styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Blue background */
    color: rgb(255, 254, 254);
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  .btn:active {
    background-color: #0e73df; /* Even darker blue on click */
    transform: translateY(0); /* Reset lift effect */
  }
  